<footer>
  <div class="footer_container">
    <div class="container">
      <a href="{{domain}}" target="_blank">
        <img src="{{host}}/resources/image/logo/logo.png" alt="iTec Recycle" />
        <div class="title">iTec recycle</div>
      </a>
      <div class="clear-both"></div>
    </div>
    <div class="container">
      <h4>CONTACT US</h4>
      <div class="clear-both"></div>
      <small>
        {{emailSupport}}
      </small>
    </div>
    <div class="container">
      <h4>QUICK LINKS</h4>
      <div class="clear-both"></div>
      <small>
        <a href="{{domain}}/contact-us">Contact Us</a><br />
        <a href="{{domain}}/terms-and-conditions">Terms and Conditions</a><br />
        <a href="{{domain}}/privacy-policy">Privacy Policy</a>
      </small>
    </div>
    <div class="container">
      <h4>SOCIAL NETWORK</h4>
      <div class="clear-both"></div>
      <div id="shares" class="shares">
        <div class="share">
          <a href="#" target="_blank">
            <img src="{{host}}/resources/image/social/Facebook.png" alt="Facebook" id="fb-share-button" />
          </a>
        </div>
        <div class="share">
          <a href="#" target="_blank">
            <img src="{{host}}/resources/image/social/Instagram.png" alt="Instagram" />
          </a>
        </div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="copy_right">
      <center><small>Copyright&copy;{{year}} by {{domain}}</small></center>
    </div>
  </div>
</footer>